@page
@model BrowserWithSearchModel
@{
    ViewData["Title"] = "Browse";
}


<!DOCTYPE html>
<html>

<head>
    <!-- linking the stylesheet(CSS) -->
    <link rel="stylesheet" type="text/css" href="./css/browse.css">
</head>

<body>

    <!-- input tag -->
    <input id="searchbar" onkeyup="search_browse()" type="text"
           name="search" placeholder="Search Browse Page...">

    <!-- ordered list for college -->
    <ol id='collegelist'>
        <li class="animals">Cat</li>
        <li class="animals">Dog</li>
        <li class="animals">Elephant</li>
        <li class="animals">Fish</li>
        <li class="animals">Gorilla</li>
        <li class="animals">Monkey</li>
        <li class="animals">Turtle</li>
        <li class="animals">Whale</li>
        <li class="animals">Aligator</li>
        <li class="animals">Donkey</li>
        <li class="animals">Horse</li>
    </ol>

    <!-- linking javascript -->
    <script src="./js/browse.js"></script>
</body>
</html>
