@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>TO:DO ADD WEBSITE OVERVIEW</p>
    <p>TO:DO ADD MISSION STATEMENT</p>
    <p>TO:DO ADD MEMBERS</p>
    <p>TO:DO ADD TESTIMONIALS?</p>
</div>
