@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Our mission is to empower every student with the means to succeed</p>
    <p>We are here to help all students involved in the college education process here at Kansas State University, whether they are prospective students or about to graduate. We here at 
        company are here to support you the entire way. Search for assistance in our resource library. Make goals to follow through on our checklist. Plan for appointments and deadlines
        in our calendar. Don't hesitate to contact us for tech support or further information. We want to see you succeed.</p>
    <p>Meet the Team: Amala John</p>
</div>
