@page
@model BrowseWithSearchModel
@{
    ViewData["Title"] = "Academics";
}

<!-- code from https://www.geeksforgeeks.org/search-bar-using-html-css-and-javascript/?ref=rp&tab=article -->
<!DOCTYPE html>
<html>
    <head>
        <title>
            Creating Search Bar using HTML
            CSS and Javascript
        </title>

        <!-- linking the stylesheet(CSS) -->
        <link rel="stylesheet" type="text/css" href="/css/browse.css">
    </head>

    <body>

        <!-- input tag -->
        <input id="searchbar" onkeyup="search_college()" type="text"
               name="search" placeholder="Search Academics...">

        <!-- unordered list -->
        <ul class='collegeList'>
            <!--Academics section-->
            <li class="collegeResources"><h2>Academics</h2><a href="https://www.k-state.edu/student-success/initiatives/navigate/students/getting-started/">Office of Student Success</a></li>
            <li class="collegeResources"><a href="https://www.youtube.com/watch?v=4HlkrmV8hP4">Enrolling in classes</a></li>
            <li class="collegeResources"><a href="https://www.k-state.edu/aac/tutoring/">Academic Achievement Center</a></li>
            <li class="collegeResources"><a href="https://kstate.qualtrics.com/jfe/form/SV_9zDyO3gVmW5PPvL ">AAC Tool Suggestion</a></li>
            <li class="collegeResources"><a href="https://www.k-state.edu/english/writingcenter/students.html">Writing Center</a></li>
            <li class="collegeResources"><a href="https://lib.k-state.edu/research-find/start-my-research/ ">Start My Research</a></li>
            <li class="collegeResources"><a href="https://www.k-state.edu/accesscenter/students/">Register for Accommodations</a></li>
            <li class="collegeResources"><a href="https://www.k-state.edu/ess/">TRIO ESS Program</a></li>
            <li class="collegeResources"><a href="https://www.k-state.edu/aac/academic-coaching/">Academic Coaching</a></li>
            <li class="collegeResources"><a href="https://www.k-state.edu/ksis/help/students/stuViewAdvisor.html">Advisor Info</a></li>
            <li class="collegeResources"><a href="https://artsci.k-state.edu/academics/pre-health/">Pre-Health Profession Advising</a></li>
            <li class="collegeResources"><a href="https://artsci.k-state.edu/academics/open-option/">Open Option</a></li>
            <li class="collegeResources"><a href="https://www.k-state.edu/prelaw/about-the-program/index.html">Pre-Law Program</a></li>
            <li class="collegeResources"><a href="https://www.k-state.edu/careercenter/students/explore/">Career Center</a></li>
            <li class="collegeResources"><a href="https://www.k-state.edu/abroad/">Study Abroad</a></li>
            <li class="collegeResources"><a href="https://www.k-state.edu/undergradresearch/opportunities/">Undergrad Research</a></li>
            <li class="collegeResources"><a href="https://www.k-state.edu/ksuhonors/">University Honors Program</a></li>
        </ul>
        <!-- linking javascript -->
        <script src="./js/browse.js"></script>
    </body>
</html>