@page
@model BrowseModel
@{
    ViewData["Title"] = "Browse";
}

<div class="text-center">
    <h1 class="display-4">Browse</h1>
    <p>TO:DO ADD SEARCH BAR</p>
    <p>TO:DO ADD HIGH SCHOOL/COMMUNITY COLLLEGE SECTION</p>
    <div>
        <h2>COLLEGE</h2>
        <section>
            <h4><strong>Academics</strong></h4>
                <h6><em>Scheduling</em></h6>
                <a href="1.	https://www.k-state.edu/student-success/initiatives/navigate/students/getting-started/ ">Office of Student Success</a>
                <p>Location: Holton Hall</p>
                <p><u>Checklist</u></p>
                <ul>
                   <li>Log in to Navigate</li>
                   <li>Schedule an appointment with an academic advisor</li>
                </ul>
        </section>

    </div>
    <p>TO:DO ADD NON-TRADTIONAL LEARNING SECTION</p>
</div>