@page
@model BrowseModel
@{
    ViewData["Title"] = "Browse";
}

<div class="text-center">
    <h1 class="display-4">Browse</h1>
    <p>TO:DO ADD SEARCH BAR</p>
    <p>TO:DO ADD HIGH SCHOOL/COMMUNITY COLLLEGE SECTION</p>
    <p>TO:DO ADD COLLEGE SECTION</p>
    <p>TO:DO ADD NON-TRADTIONAL LEARNING SECTION</p>
</div>