@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    <p class="display-4">Jordan Austin: jordaus@ksu.edu</p>
    <p class="display-4">Alisha Crow: ac24@ksu.edu</p>
    <p class="display-4">Amala John: amalaj@ksu.edu </p>
</div>

