@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI Monk - Goal Tracker App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">

</head>

<body>
    <section>
        <div class="containers">
            <h3>Goal Tracker</h3>
            <form action="javascript:void(0)" id='form'>
                <input type="text" id='input' autocomplete='off'>
                <select id="select">
            <option value="all">All</option>
            <option value="completed">Completed</option>
            <option value="uncompleted">Uncompleted</option>
        </select>
        <select id="select">
            <option value="choose">Select...</option>
            <option value="academics">Academics</option>
            <option value="studentLife">Student Life</option>
            <option value="networking">Networking</option>
            <option value="healthnsafety">Health And Safety</option>
        </select>
        <input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
                <input type="submit" value='Set Goal'>
            </form>
            <ul id='ul'></ul>
        </div>
    </section>

    <script src='~/js/goals.js'>
    </script>

</body>

</html>
